@import '../../styles/variables.less';

.category-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom:30px;
  background-color: @blue;
}

.category-lists {
  margin: 30px;
}
