@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600');
@import './elemental.less';
@import './variables.less';

body {
  background-color: @white;
}

h1, h2, h3, h4, h5 {
  font-family: @font-primary;
  color: @blue;
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased !important;
}

p {
  font-family: @font-secondary;
  color: @grey-40;
}

a {
  color: @green;

  &:hover, &:active, &:focus {
    color: @dark-green;
    text-decoration: none;
    outline-style: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 100px;
  padding: 0 30px;
  background-color: @grey-04;

  h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  .back-button, .add-button {
    i {
      font-size: 30px;
    }
  }
}

.container {
  padding: 30px;
}

.form-container {
  margin: 0 auto;
  padding: 30px;
  min-width: 400px;
  max-width: 60%;
}
.subheader{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 3px;
  margin-bottom: 30px;
  border-bottom: 1px solid @blue;
  line-height: 0;

  ul {
    display: flex;
    align-items: baseline;
  }

  li {
    padding: 0 3px;
  }
}

.main-categories {
  margin-top: 25px;

  li {
    width: 100%;
    padding-bottom: 5px;
  }

  a {
    display: inline-block;
    padding: 5px;
  }

  &--selected {
    background-color: @grey-15;
    width: 100%;
  }
}

.post-header {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid @grey-05;

  h2 {
    margin-bottom: 4px;
  }
}

.post-body {
  min-width: 800px;
  width: 50%;
  padding: 0 30px;

  p {
    margin-bottom: 20px;
  }
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comments {
  padding: 30px;

  .comment {
    padding-bottom: 20px;
    margin-bottom: 4px;
    border-bottom: 1px solid @grey-05;
  }

  .comment-header {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .comment-body {
    padding: 0 30px;
  }

}

.back-button, .add-button {
  // flex-grow: 1;

  i {
    font-size: 30px;
  }
}
